.dashboard_container_display_horoscope {
  border-radius: 20px;
  width: 77vw;
  margin-right: 10vw;
  margin-left: 10vw;
  height: 40vh;
  background-color: var(--background-header);
  color: var(--foreground-header);
  float: left;
}

.dashboard_container_display_horoscope p {
  width: 98%;
  padding: 1%;
  float: left;
  font-size: 20px;
}

.dashboard_container_display_horoscope_header {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--foreground-header);
  width: 96%;
  padding: 2%;
  float: left;
}

.dashboard_container_display_tab {
  border-radius: 10px;
  background-color: var(--background-header);
  color: var(--foreground-header);
  float: left;
  width: 18vw;
  height: 10vh;
  margin-left: 11vw;
  text-align: center;
  font-size: 20px;
  margin-top: 10vh;
  padding-top: 5vh;
  margin-bottom: 5vh;
  cursor: pointer;
}

.dashboard_container_display_tab.is-clicked {
  background-color: var(--card-selected);
}

.dashboard_container_display_tab.is-clicked:hover {
  background-color: var(--card-selected-accent);
}

.dashboard_container_display_tab:hover {
  background-color: var(--background-header-accent);
}

.dashboard_container {
  border: 1px solid var(--background-header-accent);
  margin: 2%;
  width: 96vw;
  float: left;
}
.dashboard_container_header {
  margin: 2%;
  float: left;
  width: 92vw;
  font-weight: 600;
  font-size: 20px;
  color: var(--background-header);
  text-align: center;
}

.dashboard_container_star_ratings {
  margin-right: 10vw;
  margin-left: 10vw;
}
.todays_date {
  float: left;
  font-size: 20px;
  color: var(--background-header);
  font-weight: 600;
}

.view_all_button {
  float: right;
}

.view_all_button button {
  padding: 1%;
  font-size: 20px;
  background-color: var(--background-header);
  color: var(--foreground-header);
  width: 15vw;
  cursor: pointer;
}

.welcome_message {
  text-align: center;
}

@media screen and (max-width: 769px) {
  .dashboard_container_display_tab {
    width: 80vw;
    height: 10vh;
    margin-left: 10vw;
    font-size: 25px;
    margin-top: 5vh;
    margin-bottom: 1vh;
  }
}
